<p id="notice"><%= notice %></p>

<%= link_to 'Nouvelle recette', new_recette_path %>

<h1>Recettes</h1>

<%= link_to "clear", recettes_path %>
<% @tags.each do |tag|  %>
  <%= link_to tag.name, recettes_path(tags_filter: @tags_filter + [tag.id]) %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rating</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recettes.each do |recette| %>
      <tr>
        <td><%= link_to recette.name, recette %></td>
        <td><%= recette.rating %></td>
        <td><%= (recette.tags.map {|t| t.name }).join(', ') %></td>
        <td><%= link_to 'Cuisiner', heda_run_recette_path(recette_id: recette.id), method: :post %></td>
        <td><%= link_to 'Éditer', edit_recette_path(recette) %></td>
        <td><%= link_to 'Supprimer', recette, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
