<!DOCTYPE html>
<html>
  <head>
    <title>Client</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'helper' %>
  </head>

  <body>
    <div id='menu'>
      <%= link_to 'Heda', heda_index_path, class: 'item' %>
      <%= link_to 'Recettes', recettes_path, class: 'item' %>
      <%= link_to 'Pots', jars_path, class: 'item' %>
      <%= link_to 'Ingredients', ingredients_path, class: 'item' %>
      <%= link_to 'Aliments', aliment_index_path, class: 'item' %>
      <%= link_to 'Formats de pot', jar_formats_path, class: 'item' %>
      <%= link_to 'Shelves', shelves_path, class: 'item' %>
      <%= link_to 'Detected', detected_codes_path, class: 'item' %>
      <%= link_to 'Colonnes', colonnes_path, class: 'item' %>
      <%= link_to 'Locations', locations_path, class: 'item' %>
      <%= link_to 'Units', units_path, class: 'item' %>
      <%= link_to 'Tags', tags_path, class: 'item' %>
      <%= link_to 'Recipe categories', recipe_categories_path, class: 'item' %>
    </div>
    <%= yield %>
  </body>
  <%= content_for :render_async %>
</html>
