<!DOCTYPE html>
<html>
  <head>
    <title>Client</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='menu'>
      <a class='item' href='/inventaire.html'>Inventaire</a>
      <a class='item' href='/recettes/'>Recettes</a>
      <a class='item' href='/ingredients/index'>Ingredients</a>
      <a class='item' href='/axes/index.html'>Manuel</a>
      <a class='item' href='/visuel.html'>Visuel</a>
      <a class='item' href='/3d/index.html'>3d</a>
      <%= link_to 'Jar formats', jar_formats_path, class: 'item' %>
    </div>
    <%= yield %>
  </body>
</html>
