
<%# @is_paused ? "▶️"  : "⏸️"  %>

<div id="heda_status" class="heda_status_<%= @status_code %>">
  <%= @status %>
</div>

<% if @status_code == "fatal" || @status_code == "warning" #FIXME: Not sure how dismissing action identify is handled...  %>
  <br/>
  <%= form_with(url: heda_run_path(cmd: "dismiss"), method: "post", remote: true) do %>
    <%= submit_tag("Dismiss") %>
  <% end %>
<% end %>

<h2>Action requise</h2>

<div id="actionrequired" data-val="<%= @action_required %>" hidden ></div>

<% if @action_required.blank? %>
  Aucune
<% elsif @action_required == "raw" %>
  <%= render partial: 'action_raw' %>
<% elsif @action_required.starts_with? "identify" %>
  <%= render partial: 'action_identify', locals: {detected_code: DetectedCode.find(@action_required.split(' ')[1])} %>
<% end %>

<%# label_tag(:tool_position)  %>
<%# text_field_tag :tool_position, @tool_position, readonly: true %>

<%# label_tag(:position)  %>
<%# text_field_tag :position, @position, readonly: true %>

<%# label_tag(:pending)  %>
<%# text_area_tag :pending, @pending || 'aucun', id: "pending_commands", size: "100x40", readonly: true %>

<!--<span id="logoutputdata" hidden><%= @output %></span>-->
