<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @unit.value %>
</p>

<p>
  <strong>Is weight:</strong>
  <%= @unit.is_weight %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
