<p id="notice"><%= notice %></p>

<h1>Recettes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recettes.each do |recette| %>
      <tr>
        <td><%= link_to recette.name, recette %></td>
        <td><%= recette.recipe_category ? recette.recipe_category.name : nil %></td>
        <td><%= recette.rating %></td>
        <td><%= link_to 'Cuisiner', heda_run_recette_path(recette_id: recette.id), method: :post %></td>
        <td><%= link_to 'Éditer', edit_recette_path(recette) %></td>
        <td><%= link_to 'Supprimer', recette, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle recette', new_recette_path %>
