<p id="notice"><%= notice %></p>

<a>Apporter les ingrédients</a> | 
<a>Exécuter la recette</a> | 
<a>Mettre à jour les données</a>

<p>
  <strong>Name:</strong>
  <%= @recette.name %>
</p>

<p>
  <strong>Costs:</strong>
  <%= number_with_precision(@recette.cost, precision: 2) %>$
</p>

<p>
  <strong>Weight:</strong>
  <%= number_with_precision(@recette.weight, precision: 2) %>g
</p>

<p>
  <strong>Ingredients:</strong><br/>
  <%= render @recette.ingredient_quantities %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= simple_format(@recette.instructions) %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @recette.rating %>
</p>

<%= link_to 'Edit', edit_recette_path(@recette) %> |
<%= link_to 'Back', recettes_path %>
