<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recette.name %>
</p>

<p>
  <strong>Costs:</strong>
  <%= number_with_precision(@recette.cost, precision: 2) %>$
</p>

<p>
  <strong>Ingredients:</strong>
  <%= render @recette.ingredient_quantities %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= simple_format(@recette.instructions) %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @recette.rating %>
</p>

<%= link_to 'Edit', edit_recette_path(@recette) %> |
<%= link_to 'Back', recettes_path %>
