<%= form_with(model: jar, local: true) do |form| %>
  <% if jar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jar.errors.count, "error") %> prohibited this jar from being saved:</h2>

      <ul>
        <% jar.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :jar_format_id %>
    <%= form.number_field :jar_format_id %>
  </div>

  <div class="field">
    <%= form.label :ingredient_id %>
    <%= form.number_field :ingredient_id %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.number_field :location_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
