<p id="notice"><%= notice %></p>

<h1>Jars</h1>

<table>
  <thead>
    <tr>
      <th>Jar id</th>
      <th>Jar format</th>
      <th>Ingredient</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jars.each do |jar| %>
      <tr>
        <td><%= jar.jar_id %></td>
        <td><%= jar.jar_format.name %></td>
        <td><%= jar.ingredient_id && jar.ingredient ? jar.ingredient.name : jar.ingredient_id %></td>
        <td><%= jar.location_id %></td>
        <td><%= link_to 'Show', jar %></td>
        <td><%= link_to 'Edit', edit_jar_path(jar) %></td>
        <td><%= link_to 'Destroy', jar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jar', new_jar_path %>
