<h1>Configuration Heda</h1>

<%= form_with(model: @heda, local: true) do |form| %>
  <% if @heda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@heda.errors.count, "error") %> prohibited this heda from being saved:</h2>

      <ul>
        <% @heda.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    La tablette principale est celle où les mélanges se passent et où tu déposes tes pots.<br/>
    Veuillez inscrire le numéro de le tablette désignée pour être principale.<br/>
    Voici la liste des tablettes:
  </p>

  <%= render :file => 'shelves/index' %>

  <div class="field">
    <%= form.label :shelf_id %>
    <%= form.text_field :shelf_id %>
  </div>

  <div class="field">
    <%= form.label :user_coord_offset_x %>
    <%= form.number_field :user_coord_offset_x, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :user_coord_offset_y %>
    <%= form.number_field :user_coord_offset_y, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :user_coord_offset_z %>
    <%= form.number_field :user_coord_offset_z, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :max_h %>
    <%= form.number_field :max_h , step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :max_v %>
    <%= form.number_field :max_v , step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :max_t %>
    <%= form.number_field :max_t , step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :home_position_x %>
    <%= form.number_field :home_position_x, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :home_position_y %>
    <%= form.number_field :home_position_y, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :home_position_t %>
    <%= form.number_field :home_position_t, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :detect_height %>
    <%= form.number_field :detect_height, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :camera_radius %>
    <%= form.number_field :camera_radius, readonly: true %>
  </div>

  <p>
  Pour entrer cette donnée, déplacer le bras au centre de l'axe x. Ensuite mettre le bras à theta=0. Mettre outils crayon dans la pince. Faire une marque.
  Déplacer theta = 180. Faire une marque. Divisier la distance en 2.
  </p>

  <div class="field">
    <%= form.label :gripper_radius %>
    <%= form.number_field :gripper_radius %>
  </div>

  <div class="field">
    <%= form.label :grip_offset %>
    <%= form.number_field :grip_offset %>
  </div>

  <div class="field">
    <%= form.label :camera_focal_point %>
    <%= form.text_field :camera_focal_point, readonly: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= render :file => 'jar_formats/index' %>

<h2>Calibrate camera</h2>

<p>
La tablette de travail doit être libre.
</p>

<p>
Insérer un pot de référence dans les pinces et remplir le forumulaire suivant.
</p>

<%= form_with url: heda_run_path(cmd: "calibrate") do |form| %>
  <%= form.label :jar_height %>
  <%= form.number_field :jar_height %>
  <%= form.submit "Calibrate" %>
<% end %>
