<h1>Mode manuel</h1>

<%= link_to "ðŸ ", heda_run_path(cmd: "home"), method: "post", remote: true %>
<%= link_to "stop", heda_run_path(cmd: "stop"), method: "post", remote: true %>

<%= label_tag(:recette)  %>
<%= text_field_tag :recette, if @recette then @recette.name end %>

<%= form_with(url: heda_run_path, method: "post", id: 'inputcommandform') do %>
  <%= label_tag(:cmd, "Commande:") %>
  <%= text_field_tag(:cmd, nil, id: 'inputcommand') %>
  <%= submit_tag("Executer") %>
<% end %>

<div id="async-container"></div>

<%= render_async heda_status_path, interval: 1000, event_name: "logoutput-loaded", container_id: 'async-container'  %>

<%= label_tag(:output)  %>
<%= text_area_tag :output, nil, :size =>"100x10", :id => "logoutput" %>

<%= javascript_pack_tag 'heda_index' %>
