<h2>List of shelves</h2>
 
<table>
  <tr>
    <th>Id</th>
    <th>Height</th>
    <th>Width</th>
    <th>Depth</th>
    <th>Offset x</th>
    <th>Offset z</th>
    <th></th>
    <th></th>
  </tr>
 
  <tr>
    <td>(mm)</td>
    <td>(mm)</td>
    <td>(mm)</td>
    <td>(mm)</td>
    <td>(mm)</td>
    <td></td>
    <td></td>
  </tr>
  <% (@shelves || []).each do |shelf| %>
    <tr>
      <td><%= shelf.id %></td>
      <td><%= shelf.height %></td>
      <td><%= shelf.width %></td>
      <td><%= shelf.depth %></td>
      <td><%= shelf.offset_x %></td>
      <td><%= shelf.offset_z %></td>
      <td><%= link_to 'éditer', edit_shelf_path(shelf) %></td>
      <td><%= link_to 'supprimer', shelf_path(shelf), method: :delete, data: { confirm: 'Êtes-vous sure du vouloir supprimer?' }%></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add shelf', new_shelf_path %>
