<h2>Listing Jar Formats</h2>
 
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Empty weight</th>
    <th>Height</th>
    <th>Diameter</th>
    <th>Lid diameter</th>
    <th>Lid weight</th>
    <th>Grip force</th>
    <th></th>
  </tr>
 
  <tr>
    <td></td>
    <td></td>
    <td>(kg)</td>
    <td>(mm)</td>
    <td>(mm)</td>
    <td>(mm)</td>
    <td>(kg)</td>
    <td>(0-255)</td>
    <td></td>
  </tr>
  <% (@jar_formats || []).each do |jar_format| %>
    <tr>
      <td><%= jar_format.id %></td>
      <td><%= jar_format.name %></td>
      <td><%= jar_format.empty_weight %></td>
      <td><%= jar_format.height %></td>
      <td><%= jar_format.diameter %></td>
      <td><%= jar_format.lid_diameter %></td>
      <td><%= jar_format.lid_weight %></td>
      <td><%= jar_format.grip_force %></td>
      <td><%= link_to 'edit', edit_jar_format_path(jar_format) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add jar format', new_jar_format_path %>
