<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :x %>
    <%= form.text_field :x %>
  </div>

  <div class="field">
    <%= form.label :z %>
    <%= form.text_field :z %>
  </div>

  <div class="field">
    <%= form.label :move_command %>
    <%= form.text_field :move_command %>
  </div>

  <div class="field">
    <%= form.label :shelf_id %>
    <%= form.text_field :shelf_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
